Source: libattachsql
Priority: optional
Maintainer: Andrew Hutchings <andrew@linuxjeid.co.uk>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               libuv-dev (= 0.10), libssl-dev, zlib1g-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://libattachsql.org/
Vcs-Git: git://github.com/libattachsql/libattachsql.git

Package: libattachsql1-dev
Section: libdevel
Architecture: any
Depends: libattachsql1 (= ${binary:Version}),
         libuv-dev (= 0.10), libssl-dev, zlib1g-dev
Description: Development package for libAttachSQL
 libAttachSQL is a lightweight C connector for MySQL servers

Package: libattachsql1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libuv (= 0.10), libssl, zlib1g
Description: A lightweight C connector for MySQL servers
 libAttachSQL is a lightweight C connector for MySQL servers
